//
   Created by crystal on 2017/7/5.
.m-0.p-0.h-100
    .container
        .row
            #dashboard-head.col-md-12.bg-primary.text-white.text-center Dashboard
        .row.h-25
            .col-md-3.bg-info.text-success
            .col-md-3.bg-success.text-white
            .col-md-3.bg-warning.text-white
            .col-md-3.bg-danger.text-white.h-100
        .row.h-25
            #line_chart.col-md-4.bg-warning.text-white
            #pie_chart.col-md-4.bg-danger.text-white
            #bar_chart.col-md-4.bg-success.text-white.h-100
        .row.h-50
            #tables.col-md-12.h-100.bg-primary.text-white

