extends layout

block content

    div.main
        div.sidebar
            nav.navbar-default.navbar-side
                div.sidebar-collapse.accordion
                    ul.nav
                        li#dashboard-item
                            a.active-menu
                                i.fa.fa-dashboard
                                | Dashboard
                        li
                            a
                                i.fa.fa-desktop
                                | UI Element
                        li
                            a
                                i.fa.fa-sitemap
                                | Chart
                                span.fa.fa-angle-left.fa-lg
                            ul.nav.nav-second-level
                                li#piechart-item
                                    a Pie Chart
                                li#linechart-item
                                    a Line Chart
                        li
                            a
                                i.fa.fa-table
                                | Tables
                        li
                            a
                                i.fa.fa-repeat
                                | Animation
        div.content


